{% extends 'base.html.twig' %}

{% block stylesheets %}
     {{ parent() }}
    {{ encore_entry_link_tags('connexion') }}
{% endblock %}


{% block body %}
<div class="container-full container-login bg-light" >
    <section class="contact-section">
        <form method="post" class="contact-form login-form">

            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            
            <h1 class="form-title">Réinitialiser mon mot de passe</h1>
            <br/>
            <div class="form-group">
                <label for="inputEmail" class="label-hide">Email</label>
                <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Votre email*">
            </div>

            <div class="login-btn-wrapper">
                <button class="btn btn-lg btn-primary" type="submit">
                     Valider
                </button>
                <p class="muted">ou souhaitez-vous <a href="{{ path('app_login') }}">vous connecter</a></p>
            </div>
        </form>
    </section>
</div>
{% endblock %}
