/* MENTIONS LEGALES (MODALE) */
#mentions-container {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: .3s ease-in-out;
}

#mentions-container.in {
    opacity: 1;
}

.mentions-wrapper {
    position: relative;
    margin: 15px;
    padding: 15px;
    width: calc(100% - 30px);
    max-width: 768px;
    border-radius: 5px;
    background-color: $light;
    opacity: 0;
    transform: translateY(-100px);
    transition: .3s ease-in-out;
}

.mentions-wrapper.in {
    opacity: 1;
    transform: translateY(0);
}

#mentions-close {
    position: absolute;
    z-index: 4000;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    line-height: 1rem;
    color: #f1f1f1;
    background-color: $primary;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.mentions-title {
    font-size: 1.5rem;
    color: $primary;
}

.mentions-wrapper p {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.muted {
    font-size: .875rem;
    line-height: 1.2em;
    color: $medium;
}