html,
body,
main {
    height: 100%;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 75px);
}

.login-form {
    max-width: 600px;
    min-width: 320px;
    padding: 30px;
}

.login-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}