.single-description-wrapper,
.sigle-images-wrapper {
    justify-content: space-between;
}

.single-description-wrap,
.sigle-featured-image {
    flex-basis: calc(60% - 15px);
    max-height: 568px;
    overflow-y: hidden;

}

.single-description-categories {
    font-size: .8125rem;
}

.single-description-subtitle {
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
}

.single-description-content {
    line-height: 1.3em;
}

.single-description-technology {
    margin-top: 10px;
    font-size: .725rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $medium
}

.single-description-btn-wrap,
.sigle-description-image-wrap {
    display: flex;
    flex-basis: calc(40%);
}

.single-description-btn-wrap {
    justify-content: center;
    align-items: center;
}

.sigle-images-wrapper {
    margin-top: 30px;
}

.sigle-featured-image img {
    width: 100%;
}

.sigle-description-image-wrap {
    flex-direction: column;
}

.image-wrap {
    margin-bottom: 15px;
}

.sigle-description-image-wrap img {
    height: 274px;
    object-fit: cover;
    width: 100%;
    background-color: $light;
}

@media screen and (max-width: 1199.98px) {
    .sigle-description-image-wrap img {
        height: 227px;

    }
}


@media screen and (max-width: 991.98px) {
    .sigle-description-image-wrap img {
        height: 164px;
    }
}

@media screen and (max-width: 767.98px) {
    .single-description-wrapper {
        flex-direction: column;
    }

    .single-description-btn-wrap {
        justify-content: flex-start;
        margin-top: 30px;
    }

    .sigle-images-wrapper {
        flex-direction: column;
    }

    .sigle-featured-image {
        margin-bottom: 15px;
    }

    .sigle-description-image-wrap {
        flex-direction: row;
        justify-content: space-between;
    }

    .image-wrap {
        flex-basis: calc(50% - 7px);
    }

    .image-wrap img {
        height: 180px
    }
}

@media screen and (max-width: 575.98px) {
    .sigle-description-image-wrap {
        flex-direction: column;
    }

    .image-wrap img {
        height: 300px
    }
}