 <div class="hero-wrapper">
     <div class="hero-backround-container">
         <img class="hero-background-img" src="assets/images/cyannlab-header-home.png" alt="Développeur vitaminé">
     </div>

     <div class="hero-text-wrap">
         <h1 class="hero-title">
             Développeur web<br />
         </h1>
         <h2 class="hero-subTitle">
             & graphic designer
             <span class="hero-subTitle-bold">vitaminé</span>
         </h2>
         <p class="hero-content">
             Vous souhaitez améliorer votre communication et votre visibilité ?<br />
             Je conçois des sites internet, réalise votre identité visuelle et vous accompagne tout au long de
             votre projet.
         </p>
         <div class="hero-btn-wrap">
             <a href="/works.html" class="btn hero-btn">Réalisations</a>
             <a href="/contact.html" class="btn hero-btn">Contact</a>
         </div>
     </div>
 </div>