 <article class="works-card">
     <figure class="works-card-effect">
         <div class="word-card-title-wrap">
             <h3 class="works-card-title">Médiacoms</h3>
         </div>
         <img src="upload/works/mediacoms_xs.jpg" alt="site de Médiacoms">
         <figcaption>
             <p class="works-card-subtitle">Site internet</p>
             <p class="works-card-categories">
                 <span class="category">Projet web</span>
                 <span class="category">Identité visuelle</span>
             </p>
         </figcaption>
         <a class="works-card-link" href="#"></a>
     </figure>
 </article>