<!-- Mentions légales (modale) -->
<!-- ================================ -->
<div id="mentions-container">
    <div class="mentions-wrapper">
        <button id="mentions-close">x</button>
        <h4 class="mentions-title">
            Mentions légales
        </h4>
        <hr class="separator">
        <div class="mentions-content">
            <p><strong>Propriétaire : </strong>François Perreau - 8 rue Kléber 18000 Bourges</p>
            <p><strong>Créateur : </strong>François Perreau</p>
            <p><strong>Responsable publication :</strong> François Perreau</p>
            <p><strong>Hébergeur : </strong><a href="https://www.o2switch.fr">o2switch</a> 222-224 Boulevard Gustave
                Flaubert - 63000 Clermont-Ferrand</p>
        </div>
    </div>
</div>

<!-- Footer -->
<!-- ================================ -->
<footer>
    <p>@{{ "now"|date("Y") }} cyannlab</p>
    <button class="btn-mentions" type="button">Mentions légales</button>

</footer>