<div class="navbar-wrapper">
    <div class="nav-container container">
        <a class="nav-logo" href="/index.html">
            <img src="{{ asset('assets/images/cyannlab-Q.png') }}" alt="cyannlab">
        </a>
        <nav class="nav-top">
            <ul>
                <li class="nav-item"><a class="nav-link" href="/works.html">Réalisations</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">contact</a></li>
            </ul>
        </nav>
        <div class="burger-top-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>